.container{
    width: 100%;
       
   }
   table,th,td{
   border-bottom: 1px solid lightgray;
   border-collapse: collapse;
   }
    table{
   
   width: 60%;
   font-size: 15px;
   margin: auto;
    }
    td,th{
       text-align: center;
       padding: 10px;
       font-size: 20px;
    }
   
    th{
       background-color: dodgerblue;
       color: white;
       
    }
    caption{
   
       font-family: 'Times New Roman', Times, serif;
       font-weight: bold;
       margin-bottom: 10px;
       font-size: 25px;
    }
   tr:nth-child(even){
       background-color: whitesmoke;
   
   }
   
   tr:hover{
   background-color: lightgrey;
   
   }